<?xml version="1.0" encoding="UTF-8"?>
<RenoiseInstrument doc_version="34">
  <SelectedPresetName>Init</SelectedPresetName>
  <SelectedPresetLibrary>Bundled Content</SelectedPresetLibrary>
  <SelectedPresetIsModified>true</SelectedPresetIsModified>
  <Name>{{ name }}</Name>
  <CopyIntoNewSampleNameCounter>0</CopyIntoNewSampleNameCounter>
  <CopyIntoNewInstrumentNameCounter>0</CopyIntoNewInstrumentNameCounter>
  <GlobalProperties>
    {% for i in range(8) %}
    <Macro{{ i }}>
      <Value>50</Value>
      <Visualization>Device only</Visualization>
      <Name>Macro {{ i + 1 }}</Name>
    </Macro{{ i }}>
    {% endfor %}
    <PitchbendMacro>
      <Value>50</Value>
      <Visualization>Device only</Visualization>
      <Name>Pitchbend</Name>
    </PitchbendMacro>
    <ModulationWheelMacro>
      <Value>0.0</Value>
      <Visualization>Device only</Visualization>
      <Name>Modulation</Name>
    </ModulationWheelMacro>
    <ChannelPressureMacro>
      <Value>0.0</Value>
      <Visualization>Device only</Visualization>
      <Name>Channel Pressure</Name>
    </ChannelPressureMacro>
    <MacrosVisible>false</MacrosVisible>
    <Volume>1.0</Volume>
    <Transpose>0</Transpose>
    <MtsEspTuning>false</MtsEspTuning>
    <Scale>None</Scale>
    <ScaleKey>C</ScaleKey>
    <Quantize>None</Quantize>
    <Monophonic>false</Monophonic>
    <MonophonicGlide>0</MonophonicGlide>
    <ShowCommentsAfterLoading>false</ShowCommentsAfterLoading>
    <BeatsPerMin>{{ bpm }}</BeatsPerMin>
  </GlobalProperties>
  <MidiInputProperties>
    <Channel>-1</Channel>
    <NoteRangeStart>0</NoteRangeStart>
    <NoteRangeEnd>119</NoteRangeEnd>
    <AssignedTrack>-1</AssignedTrack>
  </MidiInputProperties>
  <PhraseGenerator>
    <PlaybackSync>false</PlaybackSync>
    <PlaybackMode>Selective</PlaybackMode>
    <SelectedPhraseIndex>-1</SelectedPhraseIndex>
    <PhraseMap>
      <SelectedMappingIndex>-1</SelectedMappingIndex>
    </PhraseMap>
  </PhraseGenerator>
  <SampleGenerator>
    <Samples>
      <Sample>
        <SelectedPresetName>{{ name }}</SelectedPresetName>
        <SelectedPresetIsModified>true</SelectedPresetIsModified>
        <Name>{{ name }}</Name>
        <Volume>1.0</Volume>
        <Panning>0.5</Panning>
        <Transpose>0</Transpose>
        <Finetune>0</Finetune>
        <BeatSyncIsActive>false</BeatSyncIsActive>
        <BeatSyncMode>Repitch</BeatSyncMode>
        <BeatSyncLines>16</BeatSyncLines>
        <OneShotTrigger>false</OneShotTrigger>
        <NewNoteAction>NoteOff</NewNoteAction>
        <Oversample>false</Oversample>
        <InterpolationMode>Cubic</InterpolationMode>
        <AutoSeek>false</AutoSeek>
        <AutoFade>false</AutoFade>
        <LoopMode>Off</LoopMode>
        <LoopRelease>false</LoopRelease>
        <LoopStart>0</LoopStart>
        <LoopEnd>{{ total_samples }}</LoopEnd>
        <SliceMarkers>
          {% for pos in markers %}
          <SliceMarker>
            <SamplePosition>{{ pos }}</SamplePosition>
          </SliceMarker>
          {% endfor %}
        </SliceMarkers>
        <SingleSliceTriggerEnabled>true</SingleSliceTriggerEnabled>
        <IsAlias>false</IsAlias>
        <MuteGroupIndex>-1</MuteGroupIndex>
        <ModulationSetIndex>0</ModulationSetIndex>
        <DeviceChainIndex>-1</DeviceChainIndex>
        <Mapping>
          <Layer>Note-On Layer</Layer>
          <BaseNote>36</BaseNote>
          <NoteStart>36</NoteStart>
          <NoteEnd>36</NoteEnd>
          <MapKeyToPitch>true</MapKeyToPitch>
          <VelocityStart>0</VelocityStart>
          <VelocityEnd>127</VelocityEnd>
          <MapVelocityToVolume>true</MapVelocityToVolume>
        </Mapping>
        <DisplayStart>0</DisplayStart>
        <DisplayLength>{{ total_samples }}</DisplayLength>
        <SelectionRangeStart>0</SelectionRangeStart>
        <SelectionRangeEnd>0</SelectionRangeEnd>
        <SelectedChannel>L+R</SelectedChannel>
        <VZoomFactor>1.0</VZoomFactor>
      </Sample>
      {% for slice in slices %}
      <Sample>
        <SelectedPresetName>Init</SelectedPresetName>
        <SelectedPresetLibrary>Bundled Content</SelectedPresetLibrary>
        <SelectedPresetIsModified>true</SelectedPresetIsModified>
        <Name>{{ slice.name }}</Name>
        <Volume>1.0</Volume>
        <Panning>0.5</Panning>
        <Transpose>0</Transpose>
        <Finetune>0</Finetune>
        <BeatSyncIsActive>false</BeatSyncIsActive>
        <BeatSyncMode>Repitch</BeatSyncMode>
        <BeatSyncLines>16</BeatSyncLines>
        <OneShotTrigger>false</OneShotTrigger>
        <NewNoteAction>NoteOff</NewNoteAction>
        <Oversample>false</Oversample>
        <InterpolationMode>Cubic</InterpolationMode>
        <AutoSeek>false</AutoSeek>
        <AutoFade>false</AutoFade>
        <LoopMode>Off</LoopMode>
        <LoopRelease>false</LoopRelease>
        <LoopStart>0</LoopStart>
        <LoopEnd>{{ slice.length }}</LoopEnd>
        <SingleSliceTriggerEnabled>true</SingleSliceTriggerEnabled>
        <IsAlias>true</IsAlias>
        <MuteGroupIndex>-1</MuteGroupIndex>
        <ModulationSetIndex>0</ModulationSetIndex>
        <DeviceChainIndex>-1</DeviceChainIndex>
        <Mapping>
          <Layer>Note-On Layer</Layer>
          <BaseNote>{{ slice.note }}</BaseNote>
          <NoteStart>{{ slice.note }}</NoteStart>
          <NoteEnd>{{ slice.note }}</NoteEnd>
          <MapKeyToPitch>true</MapKeyToPitch>
          <VelocityStart>0</VelocityStart>
          <VelocityEnd>127</VelocityEnd>
          <MapVelocityToVolume>true</MapVelocityToVolume>
        </Mapping>
        <DisplayStart>0</DisplayStart>
        <DisplayLength>{{ slice.length }}</DisplayLength>
        <SelectionRangeStart>-1</SelectionRangeStart>
        <SelectionRangeEnd>-1</SelectionRangeEnd>
        <SelectedChannel>L+R</SelectedChannel>
        <VZoomFactor>1.0</VZoomFactor>
      </Sample>
      {% endfor %}
    </Samples>
    <SelectedSampleIndex>0</SelectedSampleIndex>
    <ModulationSets>
      <ModulationSet>
        <SelectedPresetName>Init</SelectedPresetName>
        <SelectedPresetLibrary>Bundled Content</SelectedPresetLibrary>
        <SelectedPresetIsModified>false</SelectedPresetIsModified>
        <Devices>
          <SampleMixerModulationDevice type="SampleMixerModulationDevice">
            <IsActive>
              <Value>1.0</Value>
              <Visualization>Device only</Visualization>
            </IsActive>
            <Volume>
              <Value>1.0</Value>
              <Visualization>Device only</Visualization>
            </Volume>
            <Panning>
              <Value>0.0</Value>
              <Visualization>Device only</Visualization>
            </Panning>
            <Pitch>
              <Value>0.0</Value>
              <Visualization>Device only</Visualization>
            </Pitch>
            <PitchModulationRange>12</PitchModulationRange>
            <Cutoff>
              <Value>63.5</Value>
              <Visualization>Device only</Visualization>
            </Cutoff>
            <Resonance>
              <Value>63.5</Value>
              <Visualization>Device only</Visualization>
            </Resonance>
            <Drive>
              <Value>0.0</Value>
              <Visualization>Device only</Visualization>
            </Drive>
          </SampleMixerModulationDevice>
        </Devices>
        <Name>Set 01</Name>
        <FilterType>0</FilterType>
        <FilterBankVersion>3</FilterBankVersion>
      </ModulationSet>
    </ModulationSets>
    <SelectedModulationSetIndex>0</SelectedModulationSetIndex>
    <SelectedDeviceChainIndex>-1</SelectedDeviceChainIndex>
    <KeyzoneOverlappingMode>Play All</KeyzoneOverlappingMode>
    <SplitMap>
      <SelectedPresetName>Init</SelectedPresetName>
      <SelectedPresetLibrary>Bundled Content</SelectedPresetLibrary>
      <SelectedPresetIsModified>true</SelectedPresetIsModified>
    </SplitMap>
  </SampleGenerator>
  <PluginGenerator>
    <Channel>0</Channel>
    <Transpose>0</Transpose>
    <Volume>1.0</Volume>
    <OutputRoutings>
      <OutputRouting>
        <Enabled>true</Enabled>
        <Name>Bus #01</Name>
        <MixMode>L+R</MixMode>
        <AutoAssign>true</AutoAssign>
        <AssignedTrack>-1</AssignedTrack>
      </OutputRouting>
    </OutputRoutings>
    <MidiOutputRoutingIndex>-1</MidiOutputRoutingIndex>
    <AutoSuspend>true</AutoSuspend>
    <AliasInstrumentIndex>-1</AliasInstrumentIndex>
    <AliasFxIndices>-1,-1</AliasFxIndices>
  </PluginGenerator>
  <MidiGenerator>
    <Channel>0</Channel>
    <InstrumentType>ext. MIDI</InstrumentType>
    <Delay>0</Delay>
    <Program>-1</Program>
    <Bank>-1</Bank>
    <BankOrder>MSB, LSB</BankOrder>
    <Transpose>0</Transpose>
    <Length>8000</Length>
  </MidiGenerator>
  <ActiveGeneratorTab>Samples</ActiveGeneratorTab>
</RenoiseInstrument>
